@model ProyectoVentas.Models.Dtos.ClienteDto

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm w-75">
        <h4 class="text-danger text-center">Perfil de Usuario</h4>

        <h5 class="text-danger">Datos Personales</h5>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Nombre:</label>
                <p class="form-control border-danger">@Model.Cliente.nombre</p>
            </div>
            <div class="col-md-6">
                <label class="form-label">Teléfono:</label>
                <p class="form-control border-danger">@Model.Cliente.telefono</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <label class="form-label">Dirección:</label>
                <p class="form-control border-danger">@Model.Cliente.direccion</p>
            </div>
        </div>
        <div class="mb-3">
            <a asp-action="EditarDatosPersonales" asp-route-clienteId=@Model.Cliente.clienteId class="btn btn-danger">Editar Datos Personales</a>
        </div>

        <hr class="border-danger mt-5 mb-5">

        <h5 class="text-danger">Inicio Sesión</h5>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Correo:</label>
                <p class="form-control border-danger">@Model.Login_Cliente.correo</p>
            </div>
            <div class="col-md-6">
                <label class="form-label">Contraseña:</label>
                <p class="form-control border-danger">********</p>
            </div>
        </div>
        <div>
            <a asp-action="EditarInicioSesion" asp-route-loginId=@Model.Cliente.loginid class="btn btn-danger">Editar Inicio Sesión</a>
        </div>
    </div>
</div>
