@model ProyectoVentas.Models.ViewModels.ConfirmarPedidoViewModel

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm w-75">
        <h2 class="text-danger">Confirmar Pedido</h2>
        <h4 class="">Nombre del Restaurante</h4>
        <hr class="border-danger mb-5">
        <div class="row p-3">
            <div class="col-md-6">
                <div class="m-2">
                    <h5>Detalles del Pedido:</h5>
                    <div class="form-control d-flex border-danger p-1">
                        <div class="col-md-4">
                            <img src="#" alt="Alternate Text" />
                        </div>
                        <div class="col-md-6 d-flex flex-column justify-content-center">
                            <p><strong>Nombre del item</strong></p>
                            <p>Descripcion del producto: alfaglasjhsfgdsfakyusgfasfakjfhgavskjfyhgas askjfahs fasf aksuyfas jfhdkasfuag a.</p>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <p><strong>Precio del item</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="">
                    <h4 class="text-danger">Informacion del Pedido:</h4>
                    <hr class="border-danger mb-2">
                    <div class="d-flex justify-content-between">
                        <p class=""><strong>Sub-Total:</strong></p>
                        <p>$ 50.00</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class=""><strong>IVA:</strong></p>
                        <p>$ 50.00</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class=""><strong>Total a Pagar:</strong></p>
                        <p>$ 50.00</p>
                    </div>
                </div>

                <div class="pt-3">
                    <h4 class="text-danger">Informacion del Cliente:</h4>
                    <hr class="border-danger mb-2">
                    <div class="d-flex justify-content-between">
                        <p class=""><strong>Nombre:</strong></p>
                        <p>Jorge Ramos</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class=""><strong>Telefono:</strong></p>
                        <p>12345678</p>
                    </div><div class="d-flex justify-content-between">
                        <p class=""><strong>Correo:</strong></p>
                        <p>jorge@gmail.com</p>
                    </div><div class="d-flex justify-content-between">
                        <p class=""><strong>Direccion:</strong></p>
                        <p>Ciudad Arce, La Libertad</p>
                    </div>
                </div>

                <div class="pt-3">
                    <hr class="border-danger mb-5">
                    <div class="d-flex justify-content-between">
                        <a asp-controller="Home" asp-action="Index" class="btn px-4" style="background-color: #f5143d; color: white; border-radius: 6px;">
                            CANCELAR PEDIDO
                        </a>

                        <a href="#" class="btn px-4" style="background-color: #015501; color: white; border-radius: 6px;">
                            CONFIRMAR PEDIDO
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>